/**************** TOAST ****************/
#toast{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    color: var(--color-complement);
    padding: 14px 20px;
    border-radius: var(--radius-medium);
    font-weight: 600;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 9999;
    max-width: 350px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#toast.show-toast{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

@media (max-width: 600px){
    #toast{
        top: 80px;
        left: 50%;
        right: auto;
        bottom: auto;

        transform: translate(-50%, -10px);

        width: 90%;
        max-width: 320px;

        text-align: center;
        padding: 12px 16px;
    }

    #toast.show-toast{
        transform: translate(-50%, 0);
    }
}